/* Begin Responsive Changes */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
/* Place your styles for phones and small tablets here */
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home_inner img {
    display: none;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .content_text {
    margin: 0 8em;
    position: static;
    top: 0;
    padding-top: 25em;
  }
  .content_text button {
    margin-bottom: 17em!important;
    font-size: 1.8em;
  }
}


/*tablets*/
/*@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .content_text {
      margin: 0 13em;
      top: -30em;
    }
}*/



@media only screen and (min-width: 992px) and (max-width: 1999px){

}
