/*---------------- IPHONE 5 SECTION -----------------*/
/*iphone 5 portrait*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  #overlay {
    height: 70%;
  }
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .travel_with {
    background: url(/assets/images/mobile/Q1_768@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .home_inner img {
    display: none;
  }
  .travel_with_inner img {
    display: none;
  }
  .content_text {
    margin: 0 8em;
    position: static;
    top: 0;
    padding-top: 25em;
  }
  .content_text h1, h4 {
    font-size: 4em!important;
  }
  .content_text h4 {
    margin-top: 1em;
  }
  .friends, .family, .so {
    display: block!important;
    margin-left: 17.5em!important;
  }
  .start {
    margin-bottom: 17em!important;
    font-size: 1.8em!important;
    margin-left: 1.5em!important;
  }
  .full_site {
    display: block;
  }
  footer {
    height: 6em;
  }
}

/*iphone 5 landscape*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #overlay-back {
    height: 160%!important;
  }

  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .travel_with {
    background: url(/assets/images/mobile/Q1_768@2x.jpg) no-repeat center center;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .travel_with_inner img {
    display: none;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    margin: 0 2em;
    position: static;
    top: 0;
    /*margin-top: -13em!important;*/
  }
  .friends_exp_txt, .family_exp_txt, .so_exp_txt {
    margin-top: -18em!important;
  }
  .friends, .family, .so {
    display: block!important;
    margin-left: 14em!important;
  }
  .content_text h1, h4 {
    font-size: 3em!important;
  }
  .content_text h4 {
    /*margin-top: 1em;*/
  }
  .content_text button {
    /*margin-bottom: 7em!important;*/
    font-size: 1.8em;
  }
  .so {
    margin-bottom: 5em;
  }
  footer {
    height: 6em;
  }
}
/*------------------ IPHONE 6 SECTION ------------------*/
/*iphone6 Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .content_text {
    padding-top: 20em;
  }
}

/*iphone6 Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #overlay-back {
    height: 160%!important;
  }
  #overlay {
    top: 10em;
  }
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    padding-top: 5em;
    margin: 0 5em;
    position: static;
    font-size: 1.2em;
  }
  .friends_exp_txt, .family_exp_txt, .so_exp_txt {
    margin-top: -18em!important;
  }
  .content_text button {
    margin-bottom: 7em!important;
    font-size: 1em;
  }
  .full_site {
    display: block;
  }
  footer {
    height: 6em;
  }
}

/*---------- IPHONE 6+ ----------------*/
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  #overlay-back {
    height: 160%!important;
  }
  #overlay {
    top: 10em;
  }
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    padding-top: 5em;
    margin: 0 5em;
    position: static;
    font-size: 1.2em;
  }
  .friends_exp_txt, .family_exp_txt, .so_exp_txt {
    margin-top: -18em!important;
  }
  .content_text button {
    margin-bottom: 7em!important;
    font-size: 1em;
  }
  .full_site {
    display: block;
  }
  footer {
    height: 6em;
  }
}
