@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  #overlay {
    height: 70%;
  }
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    margin: 0 8em;
    position: static;
    top: 0;
    padding-top: 25em;
  }
  .content_text h1, h4 {
    font-size: 4em!important;
  }
  .content_text h4 {
    margin-top: 1em;
  }
  .start {
    margin-bottom: 17em!important;
    font-size: 1.8em!important;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #overlay-back {
    height: 160%!important;
  }

  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    margin: 0 2em;
    position: static;
    top: 0;
    /*padding-top: 25em;*/
  }
  .content_text h1, h4 {
    font-size: 3em!important;
  }
  .content_text h4 {
    /*margin-top: 1em;*/
  }
  .content_text button {
    margin-bottom: 5em!important;
    font-size: 1.8em;
  }
}




/*tablets*/
/*@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .content_text {
      margin: 0 13em;
      top: -30em;
    }
}*/



@media only screen and (min-width: 992px) and (max-width: 1999px){

}
