body {
  padding-top: 6.5em;
}

/*ACTIVE VS INACTIVE*/
.active {
  display: block;
}

.inactive {
  display: none;
}

.inline {
  display: inline-block;
}

nav {
  background-color: #FFFFFF!important;
  border: 0!important;
}

.nav_inner {
  padding: 2em 0;
}

.nav_inner img {
  padding-left: 2em;
}

.nav_links {
  padding-right: 2em;
  font-size: 18px;
}

.nav_links a {
  color: #9B1719;
  text-decoration: none;
  font-size: 18px
}

.nav_links a:hover {
  color: #9B1719;
}

.start_over {
  position: relative;
  top: -60em;
  margin-right: 88%;
  z-index: 9999;
}

.content {
  position: relative;
  margin-bottom: -9em;
}

.content img {
  max-height: 100%;
  max-width: 100%;
}

.content_text {
  position: relative;
  margin: 0 25em;
  top: -40em;
  color: #FFFFFF;
  z-index: 9999;
}


/*FOOTER*/

.footer_inner {
  position: relative;
}

.footer_lists {
  position: absolute;
  top: -1px;
  z-index: 9999;
  margin-left: 13em;
  margin-top: 4em;
}

/*.copyright {
  position: absolute;
  top: -.3px;
  z-index: 9999;
}*/

.footer_lists ul {
  padding: 3em;
}

.footer_image {
  max-height: 100%;
  max-width: 100%;
}
/*footer {
  height: 550px;
  width: 1545px;
  background: url('/assets/images/footer-bg1200.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer_inner {
  padding: 5em;
}

.footer_inner ul {
  padding: 3em;
  vertical-align: middle!important;
}*/
