@font-face {
  font-family: 'TradeGothic';
  src: url('/assets/fonts/TradeGothicLTStd.otf') format('opentype');
}
@font-face {
  font-family: 'TradeGothicBC';
  src: url('/assets/fonts/TradeGothicLTStd-BdCn20.otf') format('opentype');
}
@font-face {
  font-family: 'TradeGothicBold';
  src: url('/assets/fonts/TradeGothicLTStd-Bold.otf') format('opentype');
}

html {
  font-family: 'TradeGothic'!important;
}
h1, h2, h3, h5, p, button {
  font-family: 'TradeGothic'!important;
}
h4 {
  font-family: 'TradeGothicBC'!important;
}
a {
  font-family: 'TradeGothic'!important;
  text-decoration: underline;
}
nav {
  font-family: 'TradeGothicBold'!important;
  font-size: 18px!important;
  min-height: 66px!important;
  background-color: #FFFFFF!important;
  border: 0!important;
  font-weight: bold;
}
body {
  padding-top: 5.3em;
  /*padding-bottom: 5em;*/
}

.home {
  background: url('/assets/images/index1200@2x.jpg') no-repeat 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	height: 100vh;
	padding: 6em 0;
	text-align: center;
}

.travel_with {
  background: url('/assets/images/Q1_1200@2x.jpg') no-repeat 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	height: 100vh;
	padding: 6em 0;
	text-align: center;
}

.friends_experience, .family_experience, .so_experience {
  background: url('/assets/images/Q2_1200@2x.jpg') no-repeat 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	height: 100vh;
	padding: 6em 0;
	text-align: center;
}

.vr {
  border-left: 1px solid #979797;
  height: 37px;
  display: inline-block;
  margin-bottom: -10px;
}

/*ACTIVE VS INACTIVE*/
.active {
  display: block;
}

.inactive {
  display: none;
}

.inline {
  display: inline-block;
}

.mobile_bg {
  display: none;
}

button {
  border-radius: 0!important;
  background-color: #9B1719!important;
  height: 3.5em;
  width: 15.5em;
  margin: 3em 1.5em 0 1.5em!important;
  font-size: 23px!important;
  font-family: 'TradeGothicBold'!important;
}
button:hover {
  color: #9B1719!important;
  background-color: #FFFFFF!important;
}
button:focus {
  outline: 0!important;
}

.mobile_nav {
  display: none;
}

.nav_inner img {
  padding-left: 2em;
  padding-top: 1.2em;
}

.nav_links {
  padding-right: 2em;
  padding-top: 1em;
  font-size: 18px;
}

.nav_links a {
  color: #9B1719;
  text-decoration: none;
  font-size: 18px;
  padding: .7em;
}

.nav_links a:hover {
  color: #9B1719;
}
/*
.start_over {
  position: relative;
  top: -50em;
  margin-right: 88%;
  z-index: 9999;
}*/

.content {
  /*position: relative;*/
  /*margin-bottom: -9em;*/
}

/*.content img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: -15em;
}*/

/*.home_inner img {
  margin-bottom: -27em!important;
}*/

.content_text {
  /*position: relative;*/
  margin: 0 2em;
  /*padding: 20em 0;*/
  /*top: -28em;*/
  color: #FFFFFF;
  /*z-index: 9999;*/
}

.content_text h1 {
  font-size: 48px;
}

.content_text h3 {
  font-size: 22px;
}

.canyon_inner img {
  margin-bottom: -12em;
}

.town_inner img {
  margin-bottom: -12em;
}

.base_inner img {
  margin-bottom: -13.5em;
}

.landing_page_text {
  position: relative;
  margin: 0 25em;
  top: -20em;
  color: #FFFFFF;
  z-index: 9999;
}

.options {
  margin-top: 3em;
}

.indi_option {
  display: inline-block;
  text-align: justify;
  padding: 1em;
  vertical-align: top!important;
  max-width: 338px;
  margin-right: 1.5em;
}

.indi_option img {
  height: 185px;
}

.page_break {
  margin: 3em;
}

.line_text {
 width: 100%;
 text-align: center;
 border-bottom: 1px solid #000;
 line-height: 0.1em;
}

.line_text span {
  padding: 0 15px;
  background: #FFF;
  color: #9B1719;
}

.other_bases {
  text-align: center;
  margin-bottom: 5em;
}

.other_base_areas {
  padding: 0 1em;
  text-align: justify!important;
  vertical-align: top!important;
}

.other_base_areas img {
  width: 700px;
  height: 350px;
}

#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9B1719;
  /*opacity: 0.8;*/
  z-index: 5;
  display: none;
}

#overlay {
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  top: 25em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.mobile_nav_inner a {
  color: #FFFFFF;
}

footer {
  background-color: #B5B5B5;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4em;
  font-family: 'TradeGothicBC'
}

.full_site {
  display: none;
}

footer h5 {
  padding-top: 1em;
}

/*OLD FOOTER*/
/*.footer_inner {
  position: relative;
}

.footer_lists {
  position: absolute;
  top: -1px;
  z-index: 9999;
  margin-left: 13em;
  margin-top: 4em;
}


.footer_lists ul {
  padding: 3em;
}

.footer_image {
  max-height: 100%;
  max-width: 100%;
}*/
@media (max-width: 1100px) {

  .full_nav {
    display: none!important;
  }
  .mobile_nav {
    display: block!important;
  }
  .mobile_nav img {
    padding: 20px 0 0 20px;
  }
  .fa-bars {
    padding: 10px 10px 0 0;
  }
}
