body {
  padding-top: 6.5em;
  padding-bottom: 5em;
}

/*ACTIVE VS INACTIVE*/
.active {
  display: block;
}

.inactive {
  display: none;
}

.inline {
  display: inline-block;
}

button {
  border-radius: 0!important;
}

nav {
  background-color: #FFFFFF!important;
  border: 0!important;
}

.nav_inner {
  padding: 2em 0;
}

.nav_inner img {
  padding-left: 2em;
}

.nav_links {
  padding-right: 2em;
  font-size: 18px;
}

.nav_links a {
  color: #9B1719;
  text-decoration: none;
  font-size: 18px
}

.nav_links a:hover {
  color: #9B1719;
}

.start_over {
  position: relative;
  top: -50em;
  margin-right: 88%;
  z-index: 9999;
}

.content {
  position: relative;
  /*margin-bottom: -9em;*/
}

.content img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: -12em;
}

.content_text {
  position: relative;
  margin: 0 25em;
  top: -40em;
  color: #FFFFFF;
  z-index: 9999;
}

.landing_page_text {
  position: relative;
  margin: 0 25em;
  top: -20em;
  color: #FFFFFF;
  z-index: 9999;
}

.options {
  margin-top: 3em;
}

.indi_option {
  display: inline-block;
  text-align: justify;
  padding: 1em;
}

.indi_option img {
  height: 200px;
}

.line_text {
 width: 100%;
 text-align: center;
 border-bottom: 1px solid #000;
 line-height: 0.1em;
 
}

.line_text span {
  padding: 0 15px;
  background: #FFF;
  color: #9B1719;
}


footer {
  background-color: #B5B5B5;
}

/*OLD FOOTER*/
/*.footer_inner {
  position: relative;
}

.footer_lists {
  position: absolute;
  top: -1px;
  z-index: 9999;
  margin-left: 13em;
  margin-top: 4em;
}


.footer_lists ul {
  padding: 3em;
}

.footer_image {
  max-height: 100%;
  max-width: 100%;
}*/
