
/* ----------- iPad mini ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  #overlay {
    height: 60%;
  }
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .travel_with {
    background: url(/assets/images/mobile/Q1_768@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .friends_experience, .family_experience, .so_experience {
    background: url(/assets/images/mobile/Q2_768@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .friends_experience_inner img, .family_experience_inner img, .so_experience_inner img {
    display: none;
  }
  .travel_with_inner img {
    display: none;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    margin: 0 8em;
    position: static;
    top: 0;
    padding-top: 17em;
  }
  .travel_with_text {
    margin: 30em 2em 0 2em!important;
    padding-top: 0!important;
  }
  .friends_exp_txt, .family_exp_txt, .so_exp_txt {
    margin-top: 13em!important;
  }
  .content_text h1, h4 {
    font-size: 4em!important;
  }
  .content_text h4 {
    margin-top: 1em;
  }
  .start {
    margin-bottom: 5em!important;
    font-size: 1.8em!important;
  }
  .full_site {
    display: block;
  }
  footer {
    height: 6em;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
  #overlay-back {
    height: 160%!important;
  }
  #overlay {
    top: 10em;
  }
  .full_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 2em;
  }
  .mobile_nav img {
    margin: 2em 0 0 2em;
  }
  .fa-bars {
    padding-top: .3em;
    padding-right: .7em!important;
  }
  .home {
    background: url(/assets/images/mobile/index360@2x.jpg) no-repeat center center fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .travel_with {
    background: url(/assets/images/mobile/Q1_768@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .friends_experience, .family_experience, .so_experience {
    background: url(/assets/images/mobile/Q2_768@2x.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .friends_experience_inner img, .family_experience_inner img, .so_experience_inner img {
    display: none;
  }
  .travel_with_inner img {
    display: none;
  }
  .home_inner img {
    display: none;
  }
  .content_text {
    padding-top: 5em;
    margin: 0 5em;
    position: static;
    font-size: 1.5em;
  }
  .travel_with_text {
    margin: 10em .5em!important;
    padding-top: 0!important;
  }
  .content_text button {
    margin-bottom: 13em!important;
    font-size: 1em;
  }
  .travel_with_text button {
    margin-bottom: 0!important;
    font-size: .6em;
  }
  .friends_exp_txt, .family_exp_txt, .so_exp_txt {
    margin-top: 8em!important;
  }
  .friends_exp_txt button, .family_exp_txt button, .so_exp_txt button {
    margin-top: 3em!important;
    font-size: .7em!important;
  }
  .full_site {
    display: block;
  }
  footer {
    height: 6em;
  }
}
